* {
	box-sizing: border-box;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	position:fixed;
	background: blue;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	display: inline-flex;
	justify-content: flex-start;
	align-items:center;
}

header, footer {
	font-family: Raleway, sans-serif;
}

header nav {
	display: inline-flex;
	align-content: center;
	overflow:auto; 
	width: 100%;
}

a:hover {
	background-color: green;
}

li:hover {
	text-shadow: 2px 2px green;
}

.logotext {
	color: red;
	background-color: green;
	font-weight: bold;
	width: 100px;
	text-align: center;
	height: 100%;
	margin: 0;
}

.afterlogo, .footernav {
	width: 100%;
	display: inline-flex;
	justify-content:space-between; 
}

.mainnav ul {
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: purple;

}

.mainnav ul li {
	text-align: 0, auto;
	margin-right: 2em;
	color: purple;
	background-color: red;
}

.search {
	display: inline-flex;
	align-items: center; 
}

#searchicon {
	max-height: 20px;
}

.profilelinks {
	color: red;
	background-color: yellow;
	width: 120px;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.viewcart {

}

#carticon {
	max-height: 15px;
}

main {
	margin: 50px 0px 0px 0px;
	font-family: Texturina, serif;
}

h1 {
	color:green;
	font-size: 24pt;
	text-shadow: 2px 2px red;
}

#hugecontainer {
	height: 2000px;
	background-color: yellow;
	animation-name: testanimation;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

@keyframes testanimation {
	0% {background-color: yellow}
	25% {background-color: green}
	50% {background-color: red}
	75% {background-color: purple}
}

.footernav  nav{
	width: 100%;
}